/* headings.css for camel */

h1 {
    font-size:160%;
    margin-top:1.0em;
    margin-bottom:.5em;
    line-height:1.1em;
}
h2 {
    font-size:140%;
    margin-top:1.5em;
    margin-bottom:.5em;
    line-height:1.2em;
}
h3 {
    font-size:120%;
    margin-top:1.5em;
    margin-bottom:.5em;
}
h4 {
    font-size:110%;
    font-weight:bold;
    margin-bottom:-2px;
    margin-top:1.2em;
}
h5 {
    font-size:1em;
    font-weight:bold;
    margin-top:1.5em;
    margin-bottom:3px;
}

hr {
	color:black;
    height:2px;
    border:1;
}



